@font-face{
    font-family: Myriad; 
    src: url(./fonts/myriad.otf); 
}
@font-face{
    font-family: Lato; 
    src: url(./fonts/lato.ttf); 
}
@font-face{
    font-family: Playfire; 
    src: url(./fonts/playfire.ttf); 
}
